*,
::after,
::before {

  //  outline: 1px solid red;

}

.outr {
  outline: 1px solid red;
}

.outb {
  outline: 1px solid blue;
}

.container {
  //background-color: aqua;
  @include for-phone {
    // background-color: rgb(253, 253, 211);
  }
  @include for-tablet {
    // background-color: lightcoral;
  }
  @include for-desktop {
    // background-color: blueviolet;
  }
}
