// Для размеров экранов
@mixin for-phone {
  @media (max-width: 767.99px) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// Как использовать
// .my-box {
//   padding: 10px;

//   @include for-desktop {
//     padding: 20px;
//   }
// }

//Сетка для карточек
@mixin grid-list($margin) {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(#{$margin} * -1);
  margin-left: calc(#{$margin} * -1);
}

@mixin grid-item($columns, $margin) {
  flex-basis: calc((100% / #{$columns}) - #{$margin});
  // flex-basis: calc((100% - #{$grid-item-margin} * #{$columns}) / #{$columns});
  margin-left: $margin;
  margin-top: $margin;
}
// .ul(задать класс для списка) {
//   @include grid-list(марджин между колонками);
//  }
//
// .li(задать класс для карточек) {
//   @include grid-item(колонки, марджин между колонками);
// }
