//Шрифты
$font-family-main: 'DM Sans', Arial, Helvetica, sans-serif;
$font-family-secondary: 'Titan One', Arial, Helvetica, sans-serif;

$text-color-main: #ffffff;
$text-color-secondary: #000000;
$text-color-additional: #907e82;
$text-color-decorative: #ffa5ba;
$color-accent: #d41443;

$bg-color-header_hero: #ffb8ca;
$bg-color-section-light: #ffffff;
$bg-color-section-contrast: #fff5f6;

$bg-color-mobile-menu: #e17992;

$bg-color-card-produсt-ice_cream: #ffb8ca;
$bg-color-card-produсt-ice_coffee: #f0d1a5;
$bg-color-card-produсt-milk_shakes: #c2e297;
$bg-color-card-contanct: #ffffff;

$bg-color-btn-light: #ffffff;
$bg-color-btn-light_hover: #ecebeb;
$bg-color-btn-contrast: #d41443;
$bg-color-btn-contrast_hover: #c7133e;

$color-social-svg: #fea5bb;
$review-decoration: #e1e1e1;
$bg-btn-contacts: #d41342;

$footer-socials-icon-bg: #fea5bb;
$footer-socials-icon-cl: #ffffff;
