//Шрифты
$font-family-main: 'DM Sans', Arial, Helvetica, sans-serif;
$font-family-secondary: 'Titan One', Arial, Helvetica, sans-serif;

$text-color-main: rgba(0, 0, 0, 1);

$bg-color-header_hero: #ffb8ca;
$bg-color-section-light: #e5e5e5;
$bg-color-section-contrast: #fff5f6;
$bg-color-mobile-menu: #e17992;
$bg-color-card-produсt-ice_cream: #ffb8ca;
$bg-color-card-produсt-ice_coffee: #f0d1a5;
$bg-color-card-produсt-milk-shakes: #c2e297;
$bg-color-card-contanct: #ffffff;
