<section id="about" class="about">
    <div class="container">
        <div class="about__title-container">
            <p class="about__subtitle">tradition and love</p>
            <h2 class="about__title">how it’s made?</h2>
        </div>
        <div class="about__wrapper">
            <div class="about__picture">
                <picture>
                    <source srcset="./images/desktop/about/about_cow.webp 1x, ./images/desktop/about/about_cow@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source srcset="./images/desktop/about/about_cow.png 1x, ./images/desktop/about/about_cow@2x.png 2x"
                        media="(min-width: 1280px)">
                    <source srcset="./images/tablet/about/about_cow.webp 1x, ./images/tablet/about/about_cow@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source srcset="./images/tablet/about/about_cow.png 1x, ./images/tablet/about/about_cow@2x.png 2x"
                        media="(min-width: 768px)">
                    <source srcset="./images/mobile/about/about_cow.webp 1x, ./images/mobile/about/about_cow@2x.webp 2x"
                        media="(max-width: 767.99px)" type="image/webp">
                    <source srcset="./images/mobile/about/about_cow.png 1x, ./images/mobile/about/about_cow@2x.png 2x"
                        media="(max-width: 767.99px)">
                    <img src="./images/mobile/about/about_cow.png" alt="Cow and jug of milk">
                </picture>
            </div>
            <div class="about__text-wrapper">
                <p class="about__description-begin">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__description">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                    rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. <br><br> Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button class="about__btn" type="button"data-menu-buttons>
                    Read more
                    <svg class="about__svg" width="5" height="8">
                        <use href="./images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="about__backdrop" data-menus>
                <div class="about__modal">
                    <button class="about__btn-close" type="button" data-menu-closes>
                        <svg class="about__svg-close" width="15" height="15">
                            <use href="./images/sprite.svg#icon-close"></use>
                        </svg>
                    </button>
                    <h3 class="about__title">how it’s made?</h3>
                    <p class="about__modal-text">
                        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                        cursus, faucibus lorem eget, egestas eros.
                        Maecenas eleifend erat at justo fringilla
                        justo fringilla.<br>
                        <br>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. <br> <br>Aliquam erat volutpat. Aenean accumsan.
                    </p>
                </div>            
        </div>
    </div>
    
</section>