<section id="advantages">
  <div class="container">
    <h1 class="">Advantages</h1>
    <ul>
      <li>
        <svg>
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
        <p>721</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <svg>
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
        <p>16kg</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li>
        <svg>
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
        <p>84</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
