<section class="advantages-section" id="advantages">
  <div class="container advantages">
    <div class="advantages__content">
      <h2 class="visually-hidden">Advantages</h2>
      <ul class="list advantages__list">
        <li class="advantages__item">
          <svg class="advantages__svg" width="50" height="50">
            <use href="./images/sprite.svg#icon-milk"></use>
          </svg>
          <p class="advantages__about">721</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages__item">
          <svg class="advantages__svg" width="50" height="50">
            <use href="./images/sprite.svg#icon-bucket"></use>
          </svg>

          <p class="advantages__about">16kg</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages__item">
          <svg class="advantages__svg" width="50" height="50">
            <use href="./images/sprite.svg#icon-candy"></use>
          </svg>
          <p class="advantages__about">84</p>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>