<section id="contacts">
    <h2 class="visually-hidden">Our contacts</h2>
    <div class="container">
        <ul class="contacts-list list">
            <li class="contacts-items">
                <p class="contacts-cafe">CAFE</p>
                <p class="contacts-town">Chicago</p>
                <p class="contacts-workdays">Monday - Friday</p>
                 <p class="contacts-worktime">06:00 AM - 10:00 PM</p>
                  <p class="contacts-workdays">Saturday - Sunday</p>
                   <p class="contacts-worktime">08:00 AM - 16:00 PM</p>
                   <a class="contacts-link-line link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                   <a class="contacts-link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="contacts-items">
        <p class="contacts-foodtrack">FOODTRUCK</p>
        <p class="contacts-town">Los Angeles</p>
        <p class="contacts-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p class="contacts-workdays">Monday - Friday</p>
        <p class="contacts-worktime">06:00 AM - 10:00 PM</p>
        <p class="contacts-workdays">Saturday - Sunday</p>
        <p class="contacts-worktime">08:00 AM - 16:00 PM</p>
        <a class="contacts-link-line link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-link link" href="mailto:noreply@envato.com" >noreply@envato.com</a>
      </li>
      <li class="contacts-items">
        <p class="contacts-cafe">CAFE</p>
        <p class="contacts-town">New York</p>
        <p class="contacts-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p class="contacts-workdays">Monday - Friday</p>
        <p class="contacts-worktime">06:00 AM - 10:00 PM</p>
        <p class="contacts-workdays">Saturday - Sunday</p>
        <p class="contacts-worktime">08:00 AM - 16:00 PM</p>
        <a class="contacts-link-line link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts-link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
         <ul class="contacts-btn-list list">
             <li class="contacts-btn-items">
                 <a href="">Our Locations
                     <svg class="icon-arrow" width="7" height="10">
                         <use href="./images/sprite.svg#icon-arrow"></use>
                     </svg>
                 </a>
             </li>
      <li class="contacts-btn-items">
        <button type="button" class="button modal-btn" data-modal-franchise-open>
          <span>Franchise</span>
          <svg class="icon-arrow" width="7" height="10">
               <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
          </button>
          </li>
         </ul>
    </div>
</section>