<section class="contacts-section contacts-bg-img" id="contacts">
  <h2 class="is-hidden">Our contacts</h2>
  <div class="contacts-padding contacts-translate container">
    <ul class="contacts-block list">
      <li class="contacts-cards">
        <h3 class="contacts__title-1">CAFE</h3>
        <ul class="contacts-cards__list list">
          <li class="contacts-cards__location">
            <p class="contacts-cards__location-title">Chicago</p>
            <p class="contacts-cards__location-text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-cards__worktime">
            <ul class="contacts-cards__worktime-list list">
              <li class="wokrtime__item">
                <p class="worktime__days">Monday - Friday</p>
                <p class="worktime__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="wokrtime__item">
                <p class="worktime__days">Monday - Friday</p>
                <p class="worktime__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts-cards__info">
            <ul class="contacts-cards__info-item list">
              <li>
                <a class="info-item__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a class="info-item__link link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts-cards">
        <h3 class="contacts__title-2 title">FOOD TRUCK</h3>
        <ul class="contacts-cards__list list">
          <li class="contacts-cards__location">
            <p class="contacts-cards__location-title">Los Angeles</p>
            <p class="contacts-cards__location-text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-cards__worktime">
            <ul class="contacts-cards__worktime-list list">
              <li class="wokrtime__item">
                <p class="worktime__days">Monday - Friday</p>
                <p class="worktime__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="wokrtime__item">
                <p class="worktime__days">Monday - Friday</p>
                <p class="worktime__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts-cards__info">
            <ul class="contacts-cards__info-item list">
              <li>
                <a class="info-item__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a class="info-item__link link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="contacts-cards">
        <h3 class="contacts__title-1 title">CAFE</h3>
        <ul class="contacts-cards__list list">
          <li class="contacts-cards__location">
            <p class="contacts-cards__location-title">New York</p>
            <p class="contacts-cards__location-text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-cards__worktime">
            <ul class="contacts-cards__worktime-list list">
              <li class="wokrtime__item">
                <p class="worktime__days">Monday - Friday</p>
                <p class="worktime__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="wokrtime__item">
                <p class="worktime__days">Monday - Friday</p>
                <p class="worktime__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="contacts-cards__info">
            <ul class="contacts-cards__info-item list">
              <li>
                <a class="info-item__link link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a class="info-item__link link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__btn list">
      <li class="contacts__btn-items">
        <button class="contacts__btn-location" type="button">
          Our Locations<svg class="contacts__btn-icon-1">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-items">
        <button class="contacts__btn-franchise" type="button">
          Franchise<svg class="contacts__btn-icon-2">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>

<!-- <section class="contacts contacts-bg-img" id="contacts">
    <h2 class="is-hidden">Our contacts</h2>
    <div class="contacts-padding contacts-translate container">
      <ul class="cards__list list">
        <li class="cards__item-cafe cards__item item">
          <h3 class="contacts__title-cafe title">CAFE</h3>
        <ul class="contacts__list">
            <li class="contacts__item-towt">
              <p class="contacts__town">Chicago</p></li>
              <li class="contacts__item-text">
                <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        </li>
                </ul>
                <ul class="contacts__list">
                  <li class="contacts__item-workdays"><p class="contacts__workdays">Monday - Friday</p></li>
                <li class="contacts__item-worktime"><p class="contacts__worktime">06:00 AM - 10:00 PM</p></li>
                  <li class="contacts__item-workdays"><p class="contacts__workdays">Saturday - Sunday</p></li>
                   <li class="contacts__item-worktime"><p class="contacts__worktime">08:00 AM - 16:00 PM</p></li>
        </ul>
               <ul class="contacts__list">
                   <li class="contacts__item"><a class="contacts__link-line link" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li> 
                   <li class="contacts__item"><a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a></li> 
            </ul>
            </li>
            <li class="cards__item-truck cards__item item">
          <h3 class="contacts__title-truck title">FOOD TRUCK</h3>
        <ul class="contacts__list">
            <li class="contacts__item-towt">
              <p class="contacts__town">Los Angeles</p></li>
              <li class="contacts__item-text">
                <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        </li>
                </ul>
                <ul class="contacts__list">
                  <li class="contacts__item-workdays"><p class="contacts__workdays">Monday - Friday</p></li>
                <li class="contacts__item-worktime"><p class="contacts__worktime">06:00 AM - 10:00 PM</p></li>
                  <li class="contacts__item-workdays"><p class="contacts__workdays">Saturday - Sunday</p></li>
                   <li class="contacts__item-worktime"><p class="contacts__worktime">08:00 AM - 16:00 PM</p></li>
        </ul>
               <ul class="contacts__list">
                   <li class="contacts__item"><a class="contacts__link-line link" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li> 
                   <li class="contacts__item"><a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a></li> 
            </ul>
            </li>
      <li class="cards__item-cafe cards__item item">
          <h3 class="contacts__title-cafe title">CAFE</h3>
        <ul class="contacts__list">
            <li class="contacts__item-towt">
              <p class="contacts__town">New York</p></li>
              <li class="contacts__item-text">
                <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        </li>
                </ul>
                <ul class="contacts__list">
                  <li class="contacts__item-workdays"><p class="contacts__workdays">Monday - Friday</p></li>
                <li class="contacts__item-worktime"><p class="contacts__worktime">06:00 AM - 10:00 PM</p></li>
                  <li class="contacts__item-workdays"><p class="contacts__workdays">Saturday - Sunday</p></li>
                   <li class="contacts__item-worktime"><p class="contacts__worktime">08:00 AM - 16:00 PM</p></li>
        </ul>
               <ul class="contacts__list">
                   <li class="contacts__item"><a class="contacts__link-line link" href="tel:+61(0)383766284">+61(0) 383 766 284</a></li> 
                   <li class="contacts__item"><a class="contacts__link link" href="mailto:noreply@envato.com">noreply@envato.com</a></li> 
            </ul>
            </li>
    </ul>
  
         <ul class="contacts__btn-list">
             <li class="contacts__btn-items">
                <button class="contacts__link-map popup-gmaps link button modal-btn second"
            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.1214331530655!2d30.364203815118152!3d50.457463379476266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cd35711b36cb%3A0x34851e25555fc8cd!2z0JzQvtGA0L7QttC10L3QvdC-0LUg0L7RgiDRhNC10YDQvNC10YDQsA!5e0!3m2!1sru!2sua!4v1615800932535!5m2!1sru!2sua" rel="noopener noreferrer" type="button">Our Locations
                     <svg class="icon-arrow" width="7" height="10">
                         <use href="./images/sprite.svg#icon-arrow"></use>
                     </svg>
                </button>
             </li>
      <li class="contacts__btn-items ">
        <button type="button" class="button-second modal-btn " data-modal-franchise-open>Franchise
          <svg class="icon-arrow-2" width="7" height="10">
               <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
          </button>
          </li>
         </ul>
    </div>
</section> -->
