<header id="header" class="header">
  <div class="container header__container">
    <a class="header__logo" href=""><img src="./images/logo/logo.png" alt="logo"></a>
    <nav class="header__nav">
      <ul class="header__list list">
        <li class="header__item"><a class="header__link header__link--current" href="/index.html">Home</a></li>
        <li class="header__item"><a class="header__link" href="#testimonials">About us</a></li>
        <li class="header__item"><a class="header__link" href="#about">How it’s made?</a></li>
        <li class="header__item"><a class="header__link" href="#products">Our products</a></li>
        <li class="header__item"><a class="header__link" href="#contacts">Contact</a></li>
      </ul>
    </nav>
    <button class="header__button" type="button">Buy now
      <svg class="about__svg" width="5" height="8">
        <use href="./images/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
    <button class="header__button-menu" type="button" data-menu-open>
      <svg width="20" height="12">
        <use href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>