<section id="hero">
    <div class="container">
        <h1 class="">ice cream made with passion</h1>
        <ul>
            <li><button type="button"><a href="">Products</a></button></li>
            <li><button type="button"><a href="">How it’s made?</a></button></li>
        </ul>
        <picture>
            <source srcset="
                    ./images/desktop/hero/hero_milk.webp 1x,
                    ./images/desktop/hero/hero_milk@2x.webp 2x" media="(min-width: 1200px)" type="image/webp" />
            <source srcset="
                    ./images/tablet/hero/hero_milk.webp 1x,
                    ./images/tablet/hero/hero_milk@2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                    ./images/desktop/hero/hero_milk.png 1x,
                    ./images/desktop/hero/hero_milk@2x.png 2x" media="(min-width: 1200px)" type="image/png" />
            <source srcset="
                    ./images/tablet/hero/hero_milk.png 1x,
                    ./images/tablet/hero/hero_milk@2x.png 2x" media="(min-width: 768px)" type="image/png" />
            <img src="./images/desktop/hero/hero_milk.png" alt="bottle of milk" width="188" height="191" />
        </picture>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button">
            <!-- <svg class="about__svg" width="26" height="26">
                <use href="./images/sprite.svg#icon-arrow"></use>
            </svg> -->
        </button>
        <picture>
        <source srcset="
            ./images/desktop/hero/hero_icecream.webp 1x,
            ./images/desktop/hero/hero_icecream@2x.webp 2x" media="(min-width: 1280px)" type="image/webp" />
        <source srcset="
            ./images/tablet/hero/hero_icecream.webp 1x,
            ./images/tablet/hero/hero_icecream@2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
        <source srcset="
            ./images/mobile/hero/hero-icecream-mob.webp 1x,
            ./images/mobile/hero/hero_icecream@2x.webp 2x" media="(max-width: 767.98px)" type="image/webp" />
        <source srcset="
            ./images/desktop/hero/hero_icecream.png 1x,
            ./images/desktop/hero/hero_icecream@2x.png 2x" media="(min-width: 1280px)" type="image/png" />
        <source srcset="
            ./images/tablet/hero/hero_icecream.png 1x,
            ./images/tablet/hero/hero_icecream@2x.png 2x" media="(min-width: 768px)" type="image/png" />
        <source srcset="
            ./images/mobile/hero/hero_icecream.png 1x,
            ./images/mobile/hero/hero_icecream@2x.png 2x" media="(max-width: 767.98px)" type="image/png" />
        <img src="./images/desktop/hero/hero_icecream.png" alt="icecream" width="236" height="557" />
        </picture>
        <ul>
            <li><span>16</span> cafes</li>
            <li><span>23</span> food trucks</li>
        </ul>
        <picture>
            <source srcset="
                ./images/desktop/hero/hero_girl.webp 1x,
                ./images/desktop/hero/hero_girl@2x.webp 2x" media="(min-width: 1200px)" type="image/webp" />
            <source srcset="
                ./images/tablet/hero/hero_girl.webp 1x,
                ./images/tablet/hero/hero_girl@2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                ./images/desktop/hero/hero_girl.png 1x,
                ./images/desktop/hero/hero_girl@2x.png 2x" media="(min-width: 1200px)" type="image/png" />
            <source srcset="
                ./images/tablet/hero/hero_girl.png 1x,
                ./images/tablet/hero/hero_girl@2x.png 2x" media="(min-width: 768px)" type="image/png" />
            <img src="./images/desktop/hero/hero_girl.png" alt="girl" width="293" height="232" />
        </picture>
    </div>
</section>