<section class="hero" id="hero">
  <div class="container">
    <div class="hero__box-one">
      <div class="hero__box-one__container">
        <h1 class="hero__title">ice cream made with <span class="hero__title--color">passion</span></h1>
        <ul class="hero__btn-list list">
          <li class="hero__btn-list__item">
            <a class="header__link" href="#products"><button class="hero__button" type="button">
                Products</button></a>
          </li>
          <li class="hero__btn-list__item">
            <a class="header__link" href="#about"><button class="hero__button hero__button--color" type="button">How
                it’s made?</button></a>
          </li>
        </ul>
      </div>
      <div class="hero__text__box1">
        <div class="hero__img-milk animate__animated animate__slideInDown">
          <picture>
            <source srcset="./images/desktop/hero/hero_milk.webp 1x, ./images/desktop/hero/hero_milk@2x.webp 2x"
              media="(min-width: 1280px)" type="image/webp" />
            <source srcset="./images/desktop/hero/hero_milk.png 1x, ./images/desktop/hero/hero_milk@2x.png 2x"
              media="(min-width: 1280px)" type="image/png" />
            <source srcset="./images/tablet/hero/hero_milk.webp 1x, ./images/tablet/hero/hero_milk@2x.webp 2x"
              media="(min-width: 768px)" type="image/webp" />
            <source srcset="./images/tablet/hero/hero_milk.png 1x, ./images/tablet/hero/hero_milk@2x.png 2x"
              media="(min-width: 768px)" type="image/png" />
            <img class="hero__img-milk" src="./images/desktop/hero/hero_milk.png" alt="bottle of milk" width="188"
              height="191" />
          </picture>

        </div>
        <div class="hero__text__box2">
          <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod
            tempor
            incididunt
            ut labore et</p>
          <button class="hero__text-btn" type="button">
            <svg class="hero__svg" width="" height="">
              <use href="./images/sprite.svg#icon-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="hero__icecream animate__animated animate__wobble">
      <picture>
        <source srcset="./images/desktop/hero/hero_icecream.webp 1x, ./images/desktop/hero/hero_icecream@2x.webp 2x"
          media="(min-width: 1280px)" type="image/webp" />
        <source srcset="./images/desktop/hero/hero_icecream.png 1x, ./images/desktop/hero/hero_icecream@2x.png 2x"
          media="(min-width: 1280px)" type="image/png" />
        <source srcset="./images/tablet/hero/hero_icecream.webp 1x, ./images/tablet/hero/hero_icecream@2x.webp 2x"
          media="(min-width: 768px)" type="image/webp" />
        <source srcset="./images/tablet/hero/hero_icecream.png 1x, ./images/tablet/hero/hero_icecream@2x.png 2x"
          media="(min-width: 768px)" type="image/png" />
        <source srcset="./images/mobile/hero/hero-icecream-mob.webp 1x, ./images/mobile/hero/hero_icecream@2x.webp 2x"
          media="(max-width: 767.98px)" type="image/webp" />
        <source srcset="./images/mobile/hero/hero_icecream.png 1x, ./images/mobile/hero/hero_icecream@2x.png 2x"
          media="(max-width: 767.98px)" type="image/png" />
        <img class="hero__img-icecream" src="./images/desktop/hero/hero_icecream.png" alt="icecream" />
      </picture>
    </div>
    <div class="hero__box-two">
      <ul class="hero__list-right list">
        <li class="hero__item-right">
          <div class="hero__item-right__after">
            <span class="hero__item-right__pt1">16</span>
          </div>
          <span class="hero__item-right__pt2">cafes</span>

        </li>
        <li class="hero__item-right">
          <div class="hero__item-right__after">
            <span class="hero__item-right__pt1">23</span>
          </div>
          <span class="hero__item-right__pt2">food trucks</span>
        </li>
      </ul>
      <div class="hero__thumb animate__animated animate__slideInRight">
        <picture>
          <source srcset="./images/desktop/hero/hero_girl.webp 1x, ./images/desktop/hero/hero_girl@2x.webp 2x"
            media="(min-width: 1280px)" type="image/webp" />
          <source srcset="./images/desktop/hero/hero_girl.png 1x, ./images/desktop/hero/hero_girl@2x.png 2x"
            media="(min-width: 1280px)" type="image/png" />
          <source srcset="./images/tablet/hero/hero_girl.webp 1x, ./images/tablet/hero/hero_girl@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp" />
          <source srcset="./images/tablet/hero/hero_girl.png 1x, ./images/tablet/hero/hero_girl@2x.png 2x"
            media="(min-width: 768px)" type="image/png" />
          <img class="hero__img-girl" src="./images/desktop/hero/hero_girl.png" alt="girl" />
        </picture>
      </div>
    </div>
  </div>
</section>