<div class="mobile-menu" data-menu>

  <button class="mobile-menu__btn-close" type="button" data-menu-close>
    <svg class="mobile-menu__svg" width="30" height="30">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <button class="mobile-menu__btn" type="button" data-modal-open><span>Buy now</span>
    <svg class="about__svg" width="5" height="8">
      <use href="./images/sprite.svg#icon-arrow"></use>
    </svg>
  </button>

  <ul class="list">
    <li class="mobile-menu__item"><a class="mobile-menu__link mobile-menu_link-current" href="./index.html">Home</a>
    </li>
    <li class="mobile-menu__item"><a class="mobile-menu__link"
        href="./index.html?name=&tel=&mail=&coment=#testimonials">About us</a>
    </li>
    <li class="mobile-menu__item"><a class="mobile-menu__link" href="/index.html?name=&tel=&mail=&coment=#about">How
        it's made?</a>
    </li>
    <li class="mobile-menu__item"><a class="mobile-menu__link" href="/index.html?name=&tel=&mail=&coment=#products">Our
        products</a>
    </li>
    <li class="mobile-menu__item"><a class="mobile-menu__link"
        href="/index.html?name=&tel=&mail=&coment=#contacts">Contact</a>
    </li>
  </ul>
</div>