<div class="mobile-menu_list" data-menu>

  <button type="button"><span>Buy now</span>
    <svg class="about__svg" width="5" height="8">
      <use href="./images/sprite.svg#icon-arrow"></use>
    </svg>
  </button>
  <ul class="mobile-menu_list list">
    <li class="mobile-menu_item"><a class="mobile-menu_link mobile-menu_link-current" href="./index.html">Home</a></li>
    <li class="mobile-menu_item"><a class="mobile-menu_link" href="#testimonials">About us</a></li>
    <li class="mobile-menu_item"><a class="mobile-menu_link" href="#about">How it's made?</a></li>
    <li class="mobile-menu_item"><a class="mobile-menu_link" href="#products">Our products</a></li>
    <li class="mobile-menu_item"><a class="mobile-menu_link" href="#contacts">Contact</a></li>
  </ul>
  <button class="mobile-menu__btn-close" type="button" data-menu-close>
    <svg class="mobile-menu__svg" width="14" height="14">
      <use href="./images/sprite.svg#icon-home"></use>
    </svg>
  </button>
</div>