<div class="mobile-menu" data-menu>

    <button type="button">Buy now
        <svg class="about__svg" width="5" height="8">
            <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
    </button>
    <ul class="mobile-menu_list">
        <li class="mobile-menu_item"><a class="mobile-menu_link mobile-menu_link-current" href="">Home</a></li>
        <li class="mobile-menu_item"><a class="mobile-menu_link" href="">About us</a></li>
        <li class="mobile-menu_item"><a class="mobile-menu_link" href="">How it's made?</a></li>
        <li class="mobile-menu_item"><a class="mobile-menu_link" href="">Our products</a></li>
        <li class="mobile-menu_item"><a class="mobile-menu_link" href="">Contact</a></li>
    </ul>
</div>