<section class="products-section" id="products">
    <div class="container">
        <div class="products">
            <p class="products__lable">100% natural</p>
            <h2 class="products__title">products</h2>
                <ul class="products__list list">
                     <li class="products__list-item products__thumb products__ice-cream">
                        <h3 class="products__name">ice cream</h3>
             <p class="products__list-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed
                            do eiusmod tempor incididunt ut labore et. <span class="is-hidden"> dolore magna
                            aliqua facilisis.</span></p>
                        <button class="button products__button" type="button">
                            <svg class="products__svg-btn" width="18" height="16">
                                <use href="./images/sprite.svg#icon-right"></use>
                            </svg>
                        </button>
                    </li>
                    
            
                    <li class="products__list-item products__thumb products__ice-coffe">
                        <h3 class="products__name">ice coffee</h3>
                        <p class="products__list-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed
                            do eiusmod tempor incididunt ut labore et. <span class="is-hidden"> dolore magna
                            aliqua facilisis.</span></p>
                        <button class="button products__button" type="button">
                                <svg class="products__svg-btn" width="18" height="16">
                                    <use href="./images/sprite.svg#icon-right"></use>
                                </svg>
                        </button>
                    </li>
                    
                  
                    <li class="products__list-item products__thumb products__milk_shakes">
                        <h3 class="products__name">milkshakes</h3>
                        <p class="products__list-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed
                            do eiusmod tempor incididunt ut labore et. <span class="is-hidden"> dolore magna
                            aliqua facilisis.</span></p>
                        <button class="button products__button" type="button">
                                <svg class="products__svg-btn" width="18" height="16">
                                    <use href="./images/sprite.svg#icon-right"></use>
                                </svg>
                        </button>
                    </li>
            
                </ul>
            <!--  -->
        </div>
    </div>
</section>