<section id="products">
    <div class="container products">
        <div class="products">
            <p class="products__lable">100% natural</p>
            <h1 class="product__title">products</h1>
            <div>
                <ul class="products-list">
                    <li class="prodacts-list__item">ice cream</li>
                    <p class="prodacts-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                    <button></button>
                    <li class="prodacts-list__item">ice coffee</li>
                    <p class="prodacts-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                    <button></button>
                    <li class="prodacts-list__item">milkshakes</li>
                    <p class="prodacts-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                    <button></button>
                </ul>
            </div>
        </div>
    </div>
</section>