<section class="products-section" id="products">
    <div class="container">
        <div class="products">
            <p class="products__lable">100% natural</p>
            <h2 class="products__title">products</h2>
            <div>
                <ul class="products__list list">
                    
                    <li class="products__list-item products__thumb products__ice-cream">
                    
                        <h3 class="products__name">ice cream</h3>
                        <p class="products__list-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed
                            do eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button class="button products__button" type="button"></button>
                      
                    </li>
                    
            
                    <li class="products__list-item products__thumb products__ice-coffe">
                        <div class="">
                        <h3 class="products__name">ice coffee</h3>
                        <p class="products__list-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed
                            do eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button class="button products__button" type="button"></button>
                        </div>
                    </li>
                    
                  
                    <li class="products__list-item products__thumb products__milk_shakes">
                        <div class="">
                        <h3 class="products__name">milkshakes</h3>
                        <p class="products__list-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed
                            do eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button class="button products__button" type="button"></button>
                        </div>
                    </li>
            
                </ul>
            </div>
        </div>
    </div>
</section>