<section class="test">
    <div class="container">
        <p class="outb">Lorem ipsum dolor sit amet consectetur adipisicing elit. A nisi distinctio illum debitis quia
            voluptatem
            beatae
            expedita, suscipit atque optio officiis ullam, in eveniet deserunt facere facilis doloremque ex. Quidem, at.
            Alias quod, aperiam ipsa totam natus doloremque, fugiat expedita obcaecati dolorem voluptatem delectus
            mollitia
            minima repellat autem sed nam?</p>
        <ul class="list">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
        </ul>
    </div>
</section>