<section id="testimonials">
    <div class="container">
        <h2 class="hidden">Testimonials</h2>
        <ul class="testimonials__list">
            <li>
                <img class="testimonials__img" src="" alt="emily-photo" width="85" height="85">
                <p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="testimonials__name">Emily, Los Angeles</p>
            </li>
            <li>
                <img class="testimonials__img" src="" alt="jordan-photo" width="85" height="85">
                <p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="testimonials__name">Jordan, Los Angeles</p>
            </li>
            <li>
                <img class="testimonials__img" src="" alt="kate-photo" width="85" height="85">
                <p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="testimonials__name">Kate, Los Angeles</p>
            </li>
        </ul>
    </div>
</section>