<section class="tesimonials" id="testimonials">
    <div class="container">
        <h2 class="is-hidden">Testimonials</h2>
        <div class="testimonials__list">
            <div>
                <picture>
                    <source srcset="" media="(min-width: 1200px)" type="image/jpg" />
              <source srcset="" media="(min-width: 768px)" type="image/jpg" />
              <source srcset="" media="(min-width: 480px)" type="image/jpg" />
                    <img class="testimonials__img" src="" alt="emily-photo" width="85" height="85">
                </picture>
                <p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="testimonials__name">Emily, Los Angeles</p>
            </div>
            <div>
                <picture>
                    <source srcset="" media="(min-width: 1200px)" type="image/jpg" />
              <source srcset="" media="(min-width: 768px)" type="image/jpg" />
              <source srcset="" media="(min-width: 480px)" type="image/jpg" />
                    <img class="testimonials__img" src="" alt="emily-photo" width="85" height="85">
                </picture>
                <p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="testimonials__name">Jordan, Los Angeles</p>
            </div>
            <div>
                <picture>
                    <source srcset="" media="(min-width: 1200px)" type="image/jpg" />
              <source srcset="" media="(min-width: 768px)" type="image/jpg" />
              <source srcset="" media="(min-width: 480px)" type="image/jpg" />
                    <img class="testimonials__img" src="" alt="emily-photo" width="85" height="85">
                </picture>
                <p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="testimonials__name">Kate, Los Angeles</p>
            </div>
        </div>
    </div>
</section>