<section id="testimonials">
    <div class="container">
        <h2 class="hidden">Testimonials</h2>
        <div class="testimonials">
            <img class="testimonials__img" src="../images/" alt="Emily-photo" width="85" height="85">
            <p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            <p class="testimonials__name">Emily, Los Angeles</p>
        </div>
    </div>
</section>