.about {
  background-color: $bg-color-section-contrast;

  @include for-phone {
    padding-top: 125px;
    padding-bottom: 40px;
    background-image: url(../images/mobile/about/about_milk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 96%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/about/about_milk@2x.png);
    }
  }

  @include for-tablet {
    padding-top: 130px;
    padding-bottom: 66px;
  }

  @include for-desktop {
    padding-top: 125px;
    padding-bottom: 40px;
    background-image: url(../images/desktop/about/about_milk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 96%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/about/about_milk@2x.png);
    }
  }
}

.about__subtitle {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $text-color-decorative;

  @include for-phone {
    font-size: 18px;
    line-height: 1.166;
    margin-bottom: 15px;
  }

  @include for-tablet {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }

  @include for-desktop {
    font-size: 30px;
    line-height: 1.133;
    margin-bottom: 15px;
  }
}

.about__title {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-accent;

  @include for-phone {
    margin-bottom: 26px;
    font-size: 34px;
    line-height: 1.147;
  }

  @include for-tablet {
    font-size: 48px;
    line-height: 1.145;
    margin-bottom: 90px;
  }

  @include for-desktop {
    margin-bottom: 100px;
    font-size: 58px;
    line-height: 1.137;
  }
}

.about__wrapper {
  @include for-phone {
  }

  @include for-tablet {
    display: flex;
    justify-content: center;
  }

  @include for-desktop {
  }
}

.about__picture {
  @include for-phone {
    margin-bottom: 46px;
  }

  @include for-tablet {
    margin-right: 15px;
  }

  @include for-desktop {
    margin-right: 70px;
  }
}

.about__text-wrapper {
  @include for-phone {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 320px;
  }

  @include for-tablet {
    padding-top: 30px;
    max-width: 340px;
  }

  @include for-desktop {
    padding-top: 40px;
    max-width: 460px;
  }
}

.about__description-begin {
  font-family: $font-family-main;
  font-style: normal;
  font-weight: 500;
  color: $text-color-secondary;

  @include for-phone {
    margin-bottom: 47px;
    font-size: 12px;
    line-height: 162%;
  }

  @include for-tablet {
    margin-bottom: 49px;
    font-size: 14px;
    line-height: 176%;
  }

  @include for-desktop {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 176%;
  }
}

.about__description {
  font-family: $font-family-main;
  font-style: normal;
  font-weight: 500;
  color: $text-color-additional;

  @include for-phone {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 162%;
  }

  @include for-tablet {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 176%;
  }

  @include for-desktop {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 194%;
  }
}

.about__btn {
  font-family: $font-family-main;
  font-style: normal;
  font-weight: bold;
  color: $color-accent;
  @extend %btn;
  padding-left: 37px;
  padding-right: 37px;
  background-color: $bg-color-btn-light;
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-phone {
    font-size: 14px;
    line-height: 1.28;
  }

  @include for-tablet {
    font-size: 16px;
    line-height: 1.312;
  }

  @include for-desktop {
    font-size: 16px;
    line-height: 1.312;
  }
}

.about__btn:hover,
.about__btn:focus {
  background-color: $bg-color-btn-light_hover;
}

.about__svg {
  fill: $color-accent;

  @include for-phone {
    margin-left: 13px;
    width: 10px;
    height: 10px;
  }

  @include for-tablet {
    margin-left: 13px;
    width: 10px;
    height: 10px;
  }

  @include for-desktop {
    margin-left: 13px;
    width: 10px;
    height: 10px;
  }
}
