.advantages {
  &__about {
    font-family: Titan One;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  &__text {
    font-family: DM Sans;
    font-weight: bold;
    font-size: 12px;
    line-height: 170%;
    color: #000;
  }
  &__list {
    @include for-desktop {
      @include grid-list(30px);
    }
  }
  &__item {
    @include for-desktop {
      @include grid-item(3, 30px);
    }
    margin-bottom: 16px;
  }
}
