.body {
  font-family: $font-family-main;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: normal;
  color: $text-color-secondary;
  @media (max-width: 330px) {
    overflow: hidden;
  }
}
html {
  scroll-behavior: smooth;
}
