.footer {
  background-color: $bg-color-section-contrast;

  .footer__info {
    @include for-phone {
      max-width: 234px;
      margin-bottom: 43px;
    }

    @include for-tablet {
      max-width: 340px;
    }

    @include for-desktop {
      max-width: 480px;
    }

    .footer__info-one {
      font-family: $font-family-secondary;
      text-transform: uppercase;
      color: $text-color-decorative;

      @include for-phone {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.667;
        margin-bottom: 17px;
        //max-width: 340px;
      }

      @include for-tablet {
        font-size: 26px;
        line-height: 1.145;
        padding-bottom: 16px;
      }

      @include for-desktop {
        font-size: 30px;
        line-height: 1.133;
        margin-bottom: 15px;
      }
    }

    .footer__info-two {
      font-family: $font-family-secondary;
      color: $color-accent;
      text-transform: uppercase;

      @include for-phone {
        font-style: normal;
        font-weight: normal;
        font-size: 34px;
        line-height: 1.147;
        letter-spacing: 0.04em;
      }

      @include for-tablet {
        font-size: 48px;
        line-height: 1.147;
        letter-spacing: 0.04em;
      }

      @include for-desktop {
        font-size: 58px;
        line-height: 1.138;
        letter-spacing: 0.06em;
      }
    }
  }

  .footer__socials-item:not(:last-child) {
    @include for-phone {
      margin-right: 28px;
    }
    @include for-tablet {
      margin-right: 30px;
    }
    @include for-desktop {
      margin-right: 26px;
    }
  }

  .footer__social-sprite {
    display: flex;
    width: 34px;
    height: 34px;
    color: $text-color-main;
    background-color: $text-color-decorative;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover,
    &:focus {
      background-color: $color-accent;
      color: $text-color-main;
    }
  }

  .footer__social-sprite {
    @include for-phone {
      width: 32px;
      height: 32px;
      margin-top: 43px;
    }
  }

  .footer__socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $footer-socials-icon-bg;
    @include for-desktop {
      width: 34px;
      height: 34px;
    }
  }

  .footer__social-icon {
    font-size: 20px;
    color: $footer-socials-icon-cl;
    @include for-desktop {
      font-size: 22px;
    }
  }

  .footer__contacts {
    margin-bottom: 43px;
  }

  .footer__contacts-phone {
    display: flex;
    justify-content: flex-end;
    color: $text-color-secondary;

    @include for-phone {
      flex-wrap: wrap;
      font-size: 14px;
      font-style: normal;
      font-weight: bold;
      line-height: 1.86;
      text-align: right;
    }
    @include for-tablet {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.86;
      text-align: right;
    }
    @include for-desktop {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.86;
      letter-spacing: 0.02em;
    }
  }

  .footer__contacts-link {
    margin-left: 3px;
    color: $color-accent;
    text-decoration: none;
  }

  .footer__container {
    @include for-tablet {
      display: flex;
      justify-content: space-between;
      margin-top: 0px;
      margin-bottom: 90px;
    }

    @include for-desktop {
      display: flex;
      justify-content: space-between;
      margin-top: 0px;
      margin-bottom: 97px;
    }
  }

  .footer__socials-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    @include for-phone {
      margin-bottom: 55px;
    }
    @include for-tablet {
      margin-bottom: 46px;
    }
  }

  .footer__social-sprite {
    display: flex;
    width: 34px;
    height: 34px;
    color: $text-color-main;
    background-color: $text-color-decorative;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover,
    &:focus {
      background-color: $color-accent;
      color: $text-color-main;
    }
  }

  .footer__social-sprite {
    @include for-phone {
      width: 32px;
      height: 32px;
    }
  }

  // .footer__contacts-phone {
  //   display: flex;
  //   justify-content: flex-wrap;
  //   font-weight: 700;
  //   font-size: 12px;
  //   line-height: 1.833;
  //   color: $text-color-secondary;
  //   margin-top: 46px;

  //   @include for-phone {
  //     flex-wrap: wrap;
  //     font-size: 14px;
  //     line-height: 1, 857;
  //     margin-bottom: 40px;
  //   }

  //   @include for-tablet {
  //     margin-top: 46px;
  //   }

  //   @include for-desktop {
  //     margin-top: 50px;
  //   }
  // }

  .footer__contacts-link {
    margin-left: 3px;
    color: $color-accent;
    text-decoration: none;
  }

  .footer-copy-rights {
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-phone {
    }

    @include for-tablet {
    }

    @include for-desktop {
    }
  }
  .footer-copy-rights .container {
    @include for-phone {
      padding: 25px 0 25px 0;
      max-width: 140px;
    }
    @include for-tablet {
      padding: 23px 0 23px 0;
      max-width: 276px;
    }
    @include for-desktop {
      padding: 10px 0 10px 0;
      max-width: 276px;
    }
  }
  .footer-copy-rights__text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;

    color: $text-color-additional;
    @include for-phone {
      line-height: 1.52;
      text-align: center;
    }

    @include for-tablet {
      line-height: 1.86;
      letter-spacing: 0.02em;
    }

    @include for-desktop {
      line-height: 1.86;
      letter-spacing: 0.02em;
    }
  }
}
