.footer {
  background-color: $bg-color-section-contrast;


  .footer__info {

    @include for-phone {
      max-width: 340px;
      margin-bottom: 50px;
      margin-right: 66px;
      margin-left: 22px;
    }

    @include for-tablet {
      max-width: 234px;
      margin-bottom: 43px;
    }

    @include for-desktop {
      max-width: 480px;
    }
  }

  .footer__info-one {
    font-family: $font-family-secondary;
    text-transform: uppercase;
    color: $text-color-decorative;

    @include for-phone {
      max-width: 340px;
      margin-bottom: 0;
      padding-bottom: 17px;
    }

    @include for-tablet {
      font-size: 18px;
      line-height: 1.667;
      margin-bottom: 30px;
    }

    @include for-desktop {
      font-size: 30px;
      line-height: 1.133;
      margin-bottom: 15px;
    }
  }

  .footer__info-two {
    font-family: $font-family-secondary;
    color: $color-accent;
    text-transform: uppercase;

    @include for-phone {
      font-size: 34px;
      letter-spacing: 0.06em;
    }

    @include for-tablet {
      font-size: 48px;
      line-height: 1.147;
      letter-spacing: 0.04em;
    }

    @include for-desktop {
      font-size: 58px;
      line-height: 1.138;
      letter-spacing: 0.06em;
    }
  }

  .footer__socials-list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 46px;
  }

  .footer__socials-item:not(:last-child) {
    margin-right: 30px;
  }

  .footer__social-sprite {
    display: flex;
    width: 34px;
    height: 34px;
    color: $text-color-main;
    background-color: $text-color-decorative;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover,
    &:focus {
      background-color: $color-accent;
      color: $text-color-main;
    }
  }

  .footer__social-sprite {
    @include for-phone {
      width: 32px;
      height: 32px;
      
    }
  }

  .footer__social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  .footer__contacts-phone {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.833;
    color: $text-color-secondary;

    @include for-phone {
      flex-wrap: wrap;
      font-size: 14px;
      line-height: 1, 857;
      margin-bottom: 40px;
    }
  }

  .footer__contacts-link {
    margin-left: 3px;
    color: $color-accent;
    text-decoration: none;
  }

  .footer__c {
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-phone {
      min-height: 73px;
    }

    @include for-tablet {
      min-height: 83px;

    }

    @include for-desktop {
      min-height: 49px;
      
    }
  }
  .footer__c-text {
    width: 180px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: $text-color-additional;
    padding: 0 20px;

    @include for-phone {
      padding-top: 20px;
      margin-right: 70px;
      margin-left: 70px;
      padding-bottom: 20px;
      width: 316px;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
  }
}
