.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.gallery {
  display: block;
  @include for-phone {
    background-image: linear-gradient(
      to bottom,
      $bg-color-section-contrast 40% 48px,
      $bg-color-section-light 10% 74px
    );
    background-repeat: no-repeat;
    background-size: contain;
  }
  @include for-tablet {
    background-image: linear-gradient(
      to bottom,
      $bg-color-section-contrast 40% 48px,
      $bg-color-section-light 10% 74px
    );
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__back-ground {
    margin-left: auto;
    margin-right: auto;
    @include for-phone {
      padding-top: 61px;
      padding-bottom: 61px;
      background-image: url(../images/gallery/phone/gallery_bg.png);
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/gallery/phone/gallery_bg@2x.png);
      }
    }
    @include for-tablet {
      padding-top: 132px;
      padding-bottom: 132px;
      background-image: url(../images/gallery/tablet/gallery_bg.png);
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/gallery/tablet/gallery_bg@2x.png);
      }
    }
    @include for-desktop {
      padding-top: 215px;
      padding-bottom: 215px;
      background-image: url(../images/gallery/desktop/gallery_bg.png);
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/gallery/desktop/gallery_bg@2x.png);
      }
    }
  }
}

//

//
//   }
// }
//
// @include for-desktop {
//   padding-top: 132px;
//   padding-bottom: 132px;
//   background-image: url(../images/gallery/tablet/gallery_bg.png);
//   background-repeat: no-repeat;
//   background-size: contain;

//   @media (min-device-pixel-ratio: 2),
//     (-webkit-min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     background-image: url(../images/gallery/tablet/gallery_bg@2x.png);
//   }
// }
