// .header {
//   background-color: #ffb8ca;
// }

.header__container {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;

  @include for-phone {
    top: 28px;
  }

  @include for-tablet {
    top: 44px;
  }

  @include for-desktop {
    top: 44px;
  }
}

.header__logo {
  @include for-phone {
    margin-top: 6px;
  }

  @include for-tablet {
    margin-top: 37px;
  }

  @include for-desktop {
    margin-top: 37px;
  }
}

.header__list {
  @extend %text-header-nav;

  @include for-phone {
    display: none;
  }

  @include for-tablet {
    display: none;
  }

  @include for-desktop {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
}

.header__item:not(:last-child) {
  margin-right: 35px;
}

.header__link {
  text-decoration: none;
  color: $text-color-main;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.header__link--current {
  color: $color-accent;
}

.header__button {
  @extend %text-btn;
  align-items: center;
  text-align: center;
  color: $color-accent;
  background-color: $bg-color-btn-light;
  margin-top: 37px;

  width: 160px;
  height: 44px;
  border-radius: 22px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @include for-phone {
    display: none;
  }
}

.header__button-menu {
  position: absolute;
  border: none;
  padding: 0;
  width: 20px;
  height: 12px;
  background-color: $bg-color-header_hero;

  @include for-phone {
    top: 25px;
    right: 30px;
  }

  @include for-tablet {
    top: 52px;
    right: 244px;
    background-color: $text-color-decorative;
  }

  @include for-desktop {
    display: none;
  }
}
