.hero {
  background-color: #ffb8ca;

  @include for-phone {
    padding-top: 83px;
    padding-bottom: 75px;
    height: 502px;
    position: relative;
  }

  @include for-tablet {
    padding-top: 102px;
    height: 399px;
  }

  @include for-desktop {
    padding-top: 171px;
    height: 665px;
  }
}

.hero__container {
  position: relative;

  @include for-phone {
    overflow: hidden;
    height: 100%;
  }
  @include for-tablet {
    height: 100%;
  }
  @include for-desktop {
    height: 100%;
  }
}

.hero__box-top {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.hero__title-thumb {
  @include for-phone {
    position: relative;
    padding-top: 110px;
  }

  @include for-tablet {
    position: relative;
    padding-top: 110px;
  }

  @include for-desktop {
    position: relative;
    padding-top: 110px;
  }
}
.hero__title-thumb-absolute {
  @include for-phone {
    position: absolute;
    top: 110px;
    z-index: 99;
  }

  @include for-tablet {
    position: absolute;
    top: 10px;
    z-index: 99;
  }

  @include for-desktop {
    position: absolute;
    top: 10px;
    z-index: 99;
  }
}
.hero__title {
  position: relative;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 26px;

  color: #ffffff;

  @include for-desktop {
    font-size: 38px;
    line-height: 1.158;
  }
}

.hero__title--color {
  color: #d41443;

  @include for-phone {
    font-size: 48px;
    line-height: 0.9;
  }

  @include for-tablet {
    font-size: 37px;
    line-height: 1.13;
  }

  @include for-desktop {
    font-size: 58px;
    line-height: 0.9;
  }
}

.hero__list {
  display: flex;
  @include for-phone {
    padding-top: 19px;
  }

  @include for-tablet {
    padding-top: 20px;
  }
  @include for-desktop {
    padding-top: 25px;
  }
}

.hero__item:not(:last-child) {
  margin-right: 8px;

  @include for-desktop {
    margin-right: 15px;
  }
}

.hero__button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background-color: #d41443;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #c7133e;
  }

  @include for-phone {
    font-size: 8px;
    line-height: 1.25;
    width: 62px;
    height: 24px;
  }

  @include for-tablet {
    font-size: 8px;
    line-height: 1.25;
    width: 62px;
    height: 24px;
  }

  @include for-desktop {
    font-size: 14px;
    line-height: 1.28;
    width: 104px;
    height: 40px;
  }
}

.hero__button--color {
  color: #d41443;
  background-color: #ffffff;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @include for-phone {
    width: 83px;
  }

  @include for-tablet {
    width: 83px;
  }

  @include for-desktop {
    width: 138px;
  }
}

.hero__list-right {
  @include for-phone {
    display: none;
  }
}

.hero__item-right {
  position: relative;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  z-index: 1;

  color: #ffffff;

  &:not(:last-child) {
    @include for-tablet {
      margin-bottom: 24px;
    }

    @include for-desktop {
      margin-bottom: 38px;
    }
  }

  @include for-tablet {
    font-size: 8px;
    line-height: 1.25;
    width: 43px;
  }

  @include for-desktop {
    font-size: 14px;
    line-height: 1.3;
    width: 74px;
  }

  &::before {
    content: '';
    position: absolute;

    border-radius: 50%;
    background-color: #ffffff;
    z-index: -1;

    @include for-tablet {
      width: 16px;
      height: 16px;
      left: 34px;
      top: -4px;
    }

    @include for-desktop {
      width: 30px;
      height: 30px;
      left: 61px;
      top: -30px;
    }
  }
}

.hero__number {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;

  @include for-tablet {
    font-size: 28px;
    line-height: 1.14;
  }

  @include for-desktop {
    font-size: 46px;
    line-height: 1.15px;
  }
}

.hero__box {
  display: flex;

  @include for-phone {
    display: none;
  }

  @include for-tablet {
    // padding-bottom: 28px;
  }

  @include for-desktop {
  }
}

.hero__img-milk {
  @include for-tablet {
    width: 124px;
    height: 126px;
    position: absolute;
    bottom: 28px;
  }

  @include for-desktop {
    width: 188px;
    height: 191px;
    left: 77px;
  }
}

.hero-parag-thumb {
  position: absolute;
  bottom: 34px;
  left: 154px;

  @include for-desktop {
    position: absolute;
    bottom: 34px;
    left: 295px;
  }
}
.hero__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;

  color: #ffffff;

  @include for-tablet {
    width: 114px;
    // margin-top: 47px;
    margin-bottom: 7px;
    font-size: 8px;
    line-height: 1.5;
  }

  @include for-desktop {
    width: 200px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 140%;
  }
}

.hero__btn {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-tablet {
    width: 18px;
    height: 18px;
  }

  @include for-desktop {
    width: 26px;
    height: 26px;
  }
}

.hero__svg {
  fill: #d41443;

  @include for-tablet {
    width: 7px;
    height: 7px;
  }

  @include for-desktop {
    width: 10px;
    height: 10px;
  }
}

.hero__img-icecream {
  position: absolute;

  @include for-phone {
    width: 171px;
    height: 410px;

    bottom: -73px;
    right: 32px;
  }

  @include for-tablet {
    width: 143px;
    height: 336px;
    bottom: 0;
    left: 380px;
    z-index: 2;
  }

  @include for-desktop {
    width: 236px;
    height: 557px;
    bottom: 0;
    left: 594px;
  }
}

.picture-thumb::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #ffa5ba;

  @include for-phone {
    width: 345px;
    height: 345px;
    left: 36px;
    z-index: 0;
    bottom: 0;
  }

  @include for-tablet {
    width: 324px;
    height: 322px;
    left: 307px;
    z-index: 0;
    bottom: 46px;
  }

  @include for-desktop {
    width: 538px;
    height: 538px;
    left: 475px;
    z-index: 0;
    bottom: 75px;
  }
}

.hero__img-girl {
  position: absolute;

  @include for-phone {
    display: none;
  }

  @include for-tablet {
    width: 168px;
    height: 133px;
    left: 566px;
    bottom: 0;
  }

  @include for-desktop {
    width: 293px;
    height: 232px;
    bottom: 0;
    left: 878px;
  }
}
