.mobile-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  justify-content: start;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  background-color: $bg-color-mobile-menu;
  transition: 250ms;

  &.is-open {
    left: 0;
  }

  @include for-desktop {
    display: none;
  }
}

.mobile-menu__btn {
  margin-bottom: 20px;
  display: inline-block;
  width: 209px;
}

.mobile-menu__item {
  @extend %text-mobile-menu;
  &::before {
    position: absolute;
    content: '';
    display: inline;
    width: 100%;
    border-bottom: solid 2px;
    border-color: rgba(255, 255, 255, 0.06);
  }
  &:last-child::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    border-bottom: solid 2px;
    border-color: rgba(255, 255, 255, 0.06);
  }
}

.mobile-menu__link {
  display: block;
  color: $text-color-main;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.mobile-menu__item .mobile-menu__link-current {
  color: $color-accent;
}

.mobile-menu__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: $bg-color-mobile-menu;
  top: 25px;
  right: 20px;
  padding: 0;
  border: none;
  height: 14px;
  top: 25px;
  right: 20px;
  &:focus .mobile-menu__svg {
    fill: $color-accent;
  }
}
.mobile-menu__svg {
  fill: $text-color-main;
}
