.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  @extend %column;
  justify-content: start;
  padding: 60px 20px;
  background-color: $bg-color-mobile-menu;
  transition: 250ms;

  &.is-open {
    right: 0;
  }

  @include for-tablet {
    width: 42%;
  }

  @include for-desktop {
    display: none;
  }
}

.mobile-menu__btn {
  @extend %btn;
  @extend %center;
  width: 210px;
  line-height: 1.312;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: $font-family-main;
  font-weight: 700;
  font-size: 16px;
  color: $color-accent;
  background-color: $bg-color-btn-light;
}

.mobile-menu__item {
  @extend %text-mobile-menu;
  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    border-bottom: solid 1px;
    border-color: rgba(255, 255, 255, 0.06);
  }
  &:last-child::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    border-bottom: solid 1px;
    border-color: rgba(255, 255, 255, 0.06);
  }
}

.mobile-menu__link {
  display: block;
  color: $text-color-main;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.mobile-menu__link-current {
  color: $color-accent;
}

.mobile-menu__btn-close {
  @extend %center;
  position: absolute;
  background-color: $bg-color-mobile-menu;
  top: 10px;
  right: 13px;
  padding: 0;
  border: none;
  &:focus .mobile-menu__svg,
  &:hover .mobile-menu__svg {
    fill: $color-accent;
  }
}
.mobile-menu__svg {
  fill: $text-color-main;
}
