.products-section {
  @include for-phone {
    padding-top: 121px;
    padding-bottom: 98px;
  }
  @include for-tablet {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @include for-desktop {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__lable {
  font-family: $font-family-secondary;
  color: $text-color-decorative;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 0.04em;

  @include for-phone {
    font-size: 18px;
    line-height: 1.167;
  }

  @include for-tablet {
    font-size: 26px;
    line-height: 1.154;
  }
  @include for-desktop {
    font-size: 30px;
    line-height: 1.133;
  }
}

.products__title {
  text-align: center;
  @extend %title-section;

  @include for-phone {
    margin-bottom: 144px;
  }
  @include for-tablet {
    font-size: 48px;
    line-height: 1.146;
    margin-bottom: 150px;
  }
  @include for-desktop {
    font-size: 58px;
    line-height: 1.138;
    margin-bottom: 259px;
  }
}

.products__list {
  @include for-tablet {
    @include grid-list(20px);
    margin-left: -20px;
  }
  @include for-desktop {
    @include grid-list(30px);
    margin-left: -30px;
  }
}

.products__list-item {
  @include for-tablet {
    flex-basis: calc((100% - 3 * 20px) / 3);
  }
  @include for-desktop {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}
.products__list-item {
  align-items: center;
  display: block;
  border-radius: 24px;
  text-align: center;
  align-items: center;

  @include for-phone {
    width: 100%;
    height: 100%;
    padding-right: 39px;
    padding-left: 41px;
    padding-top: 161px;
    padding-bottom: 41px;
    &:not(:last-child) {
      margin-bottom: 121px;
    }
  }
  @include for-tablet {
    min-width: 220px;
    min-height: 485px;
    padding-right: 11px;
    padding-left: 11px;
    padding-top: 152px;
    padding-bottom: 40px;
    margin-left: 20px;
  }

  @include for-desktop {
    width: 329px;
    min-height: 525px;
    padding-right: 44px;
    padding-left: 44px;
    padding-top: 163px;
    padding-bottom: 50px;
    margin-left: 30px;
  }
}
.products__name {
  @extend %title-products;
  text-align: center;
  margin-bottom: 66px;
}
.products__ice-cream {
  background: $bg-color-card-produсt-ice_cream;
  position: relative;
}
.products__name::before {
  position: absolute;
  content: '';
  display: flex;
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;

  justify-content: center;
  align-items: center;

  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);

  .products__ice-cream & {
    background-image: url(../images/mobile/products/products_icecream.png);
  }

  .products__ice-coffe & {
    background-image: url(../images/mobile/products/products_coffe.png);
  }
  .products__milk_shakes & {
    background-image: url(../images/mobile/products/products_milkshake.png);
  }
}

.products__ice-coffe {
  background-color: $bg-color-card-produсt-ice_coffee;
  position: relative;
}

.products__milk_shakes {
  background-color: $bg-color-card-produсt-milk_shakes;
  position: relative;
}

.products__list-description {
  @extend %text-product;
  text-align: center;
  margin-bottom: 30px;
}
.products__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $bg-color-btn-light;
  border: $bg-color-btn-light;
}
