.products-section {
  @include for-phone {
    padding-top: 121px;
    padding-bottom: 98px;
  }
  @include for-tablet {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @include for-desktop {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__lable {
  font-family: $font-family-secondary;
  color: $text-color-decorative;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 0.04em;

  @include for-phone {
    font-size: 18px;
    line-height: 1.167;
  }

  @include for-tablet {
    font-size: 26px;
    line-height: 1.154;
  }
  @include for-desktop {
    font-size: 30px;
    line-height: 1.133;
  }
}

.products__title {
  text-align: center;
  @extend %title-section;

  @include for-phone {
    margin-bottom: 144px;
  }
  @include for-tablet {
    font-size: 48px;
    line-height: 1.146;
    margin-bottom: 150px;
  }
  @include for-desktop {
    font-size: 58px;
    line-height: 1.138;
    margin-bottom: 259px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  @include for-tablet {
    margin-left: -20px;
  }
  @include for-desktop {
    margin-left: -30px;
  }
}

.products__list-item {
  @include for-tablet {
    flex-basis: calc((100% - 3 * 20px) / 3);
  }
  @include for-desktop {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}
.products__list-item {
  align-items: center;
  display: block;
  border-radius: 24px;
  text-align: center;
  align-items: center;

  @include for-phone {
    width: 100%;
    height: 100%;
    padding-right: 39px;
    padding-left: 41px;
    padding-top: 161px;
    padding-bottom: 41px;
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }
  @include for-tablet {
    width: 220px;
    min-height: 485px;
    padding-right: 11px;
    padding-left: 11px;
    padding-top: 152px;
    padding-bottom: 40px;
    margin-left: 20px;
  }

  @include for-desktop {
    width: 329px;
    min-height: 525px;
    padding-right: 44px;
    padding-left: 44px;
    padding-top: 163px;
    padding-bottom: 50px;
    margin-left: 30px;
  }
}
.products__name {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  @extend %title-products;

  @include for-phone {
    margin-bottom: 30px;
  }

  @include for-tablet {
    margin-bottom: 30px;
  }
  @include for-desktop {
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 1.1667;
  }
}
.products__ice-cream {
  background: $bg-color-card-produсt-ice_cream;
  position: relative;
}
.products__name::before {
  position: absolute;
  content: '';
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;

  justify-content: center;
  align-items: center;

  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);

  .products__ice-cream & {
    @include for-phone {
      display: block;
      max-width: 100%;
      background-image: url(../images/mobile/products/products_icecream.png);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/mobile/products/products_icecream@2x.png);
      }
    }

    @include for-tablet {
      width: 220px;
      height: 226px;
      background-image: url(../images/tablet/products/products_icecream.png);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/tablet/products/products_icecream@2x.png);
      }
    }

    @include for-desktop {
      width: 335px;
      height: 335px;
      top: -10%;
      background-image: url(../images/desktop/products/products_icecream.png);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/products/products_icecream@2x.png);
      }
    }
  }

  .products__ice-coffe & {
    @include for-phone {
      width: 249px;
      height: 252px;
      background-image: url(../images/mobile/products/products_coffe.png);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/mobile/products/products_coffe@2x.png);
      }
    }

    @include for-tablet {
      width: 220px;
      height: 226px;
      background-image: url(../images/tablet/products/products_coffe.png);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/tablet/products/products_coffe@2x.png);
      }
    }

    @include for-desktop {
      width: 335px;
      height: 335px;
      top: -10%;
      background-image: url(../images/desktop/products/products_coffe.png);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/products/products_coffe@2x.png);
      }
    }
  }
  .products__milk_shakes & {
    @include for-phone {
      width: 249px;
      height: 252px;
      background-image: url(../images/mobile/products/products_milkshake.png);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/mobile/products/products_milkshake@2x.png);
      }
    }
    @include for-tablet {
      width: 220px;
      height: 226px;
      background-image: url(../images/tablet/products/products_milkshakes.png);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/tablet/products/products_milkshakes@2x.png);
      }
    }
    @include for-desktop {
      width: 335px;
      height: 335px;
      top: -10%;
      background-image: url(../images/desktop/products/products_milkshake.png);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/desktop/products/products_milkshake@2x.png);
      }
    }
  }
}
.products__name::after {
  content: '';
  background-image: url(../images/dots/products/dots.png);
  width: 26px;
  height: 6px;
  margin-top: 38px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.products__ice-coffe {
  background-color: $bg-color-card-produсt-ice_coffee;
  position: relative;
}

.products__milk_shakes {
  background-color: $bg-color-card-produсt-milk_shakes;
  position: relative;
}

.products__list-description {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-family: $font-family-main;
  text-align: center;
  letter-spacing: 0.04em;
  color: $text-color-main;

  @include for-phone {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.52;
    & > .is-hidden {
      opacity: 1;
      visibility: inherit;
    }
  }
  @include for-tablet {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.76;

    & > .is-hidden {
      opacity: 0;
    }
  }
  @include for-desktop {
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 1.75;

    & > .is-hidden {
      opacity: 0;
    }
  }
}
.products__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-btn-light;
  border: $bg-color-btn-light;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0;
  @include trans(background-color);

  &:hover,
  &:focus {
    cursor: poinetr;
  }
}

.products__svg-btn {
  fill: $bg-color-btn-contrast;
}

.products__button:hover,
.products__button:focus {
  @include trans(background-color);
  background-color: $bg-color-btn-contrast_hover;
  border: $bg-color-btn-contrast_hover;
  cursor: pointer;

  &:hover .products__svg-btn {
    @include trans(fill);
    fill: $bg-color-btn-light;
  }
}
