.slick-next,
.slick-prev {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.testimonials{
    padding-top: 56px;
    padding-bottom: 86px;

    @include for-tablet{
        padding-top: 96px;
        padding-bottom: 120px;
    }
    @include for-desktop{
        padding-top: 99px;
        padding-bottom: 132px;
    }
}
.testimonials-container{

    @include for-tablet{
        padding-left: 74px;
        padding-right: 74px;
    }
    @include for-desktop{
        padding-left: 178px;
        padding-right: 178px;
    }
}

.slick-initialized .slick-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials__img{
    margin-bottom: 30px;

    @include for-tablet{
        margin-bottom: 20px;
    }
    @include for-desktop {
        margin-bottom: 15px;
    }
}
.testimonials__text--block{
    display: flex;
    justify-content: center;
    padding: 40px 50px 20px;
    background: #FAFAFA;
    margin-bottom: 30px;

    @include for-tablet{
        padding: 29px 38px;
        margin-bottom: 26px;
    }
    @include for-desktop{
        padding: 32px 53px;
        margin-bottom: 15px;
    }

}
.testimonials__text{
    display: inline-block;
    position: relative;
    z-index: 23;

    text-align: center;
    min-width: 180px;
    max-width: 950px;
    background: repeating-linear-gradient(
        to bottom,
        transparent -2px,
        transparent 27px,
        #e1e1e1 27px,
        #e1e1e1 28px
    );
    @extend %text-testimonials-name;
    text-align: center;

    @include for-tablet{
        font-size: 14px;
        line-height: 2.16;
        letter-spacing: 0.04em;
    }
    @include for-desktop {
        font-size: 16px;
        line-height: 1.86;
    }
    &::before{
        content: '';
        top: -14px;
        left: -27px;
        position: absolute;
        background: url('../images/mobile/reviews/symbol.png');
        background-repeat: no-repeat;
        width: 54px;
        height: 40px;
        z-index: -1;
    }
    
}
.testimonials__dots{
    margin-bottom: 15px;
}
.testimonials__name{
    margin-bottom: 30px;
    // position: relative;

    @extend %text-testimonials;
    text-align: center;

    @include for-tablet{
    font-size: 16px;
    margin-bottom: 35px;
    }
    @include for-desktop{
        font-size: 20px;
    }
}
.slick-dots{
    position: initial;
}
.slick-dots li{
    width: 12px;
    height: 12px;
    & li button{
        width: 12px;
        height: 12px;
    }
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 12px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: $text-color-secondary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: transparent;
    background: url('../images/mobile/reviews/home-svg.svg');
    background-repeat: no-repeat;
    background-position: center;
}
